* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 40px sans-serif;
  background: #000;
}

#app {
  height: 100%;
  display: grid;
  grid-template-rows: 1.6fr 1fr;
  grid-template-columns: 1.6fr 1fr;
  padding: 1px;
  grid-gap: 1px;
}

#app > div {
  background: #fff;
}

.sensors {
  grid-row-end: span 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.camera {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  grid-gap: 1px;
  user-select: none;
  background: #000!important;
}

.btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active {
  background: #eaeaea;
}

